<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role">
  <sitecore>
    <pipelines>
    </pipelines>
    <services>
      <configurator type="MessageBus.Demo.Services.RegisterDependencies, MessageBus.Demo" />
    </services>
    <Messaging>
      <Rebus>
        <MessageBus.Demo.Core.Buses.DemoBus role:require="(Standalone or ContentManagement) and !ContentDelivery">
          <Transport>
            <SqlServer>
              <OneWay>false</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>DemoMessagesQueue</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <DemoMessageMapping>
                  <Type>MessageBus.Demo.Core.Model.DemoMessage, MessageBus.Demo.Core</Type>
                  <DestinationQueue>DemoMessagesQueue</DestinationQueue>
                </DemoMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options role:require="(Standalone or ContentManagement) and !ContentDelivery">
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </MessageBus.Demo.Core.Buses.DemoBus>

        <MessageBus.Demo.Models.DemoMessageProducer role:require="(Standalone or ContentManagement) and !ContentDelivery">
          <Transport>
            <SqlServer>
              <OneWay>false</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>DemoMessagesProducerQueue_${MachineName}_${ProcessId}</InputQueueName>
            </SqlServer>
          </Transport>
          <Subscriptions>
            <SqlServer>
              <!--Set of credentials for proper connection to database-->
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <!--The name of the table which saves the information about the relationships between queues and messages-->
              <TableName>Sitecore_Subscriptions</TableName>
              <!--Means that both subscribers and publishers have access to the same central subscription storage-->
              <IsCentralized>true</IsCentralized>
            </SqlServer>
          </Subscriptions>
          <Subscribers>
            <TypeMappings>
              <TaskStatusMapping>
                <Type>MessageBus.Demo.Core.Model.PubSubDemoMessage, MessageBus.Demo.Core</Type>
                <PublisherQueue>PubSubDemo</PublisherQueue>
              </TaskStatusMapping>
            </TypeMappings>
          </Subscribers>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </MessageBus.Demo.Models.DemoMessageProducer>
      </Rebus>
    </Messaging>
    <services>
      <!-- Register a message handler -->
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[MessageBus.Demo.Core.Model.DemoMessage, MessageBus.Demo.Core]],  Sitecore.Framework.Messaging.Abstractions"
        implementationType="MessageBus.Demo.Handlers.MessageHandler, MessageBus.Demo"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>  
  