<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Rebus" version="4.2.1" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Serilog" version="2.6.0" targetFramework="net472" />
  <package id="Sitecore.Framework.Conditions" version="3.1.0" targetFramework="net472" />
  <package id="Sitecore.Framework.Messaging.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Sitecore.Framework.Messaging.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Sitecore.Framework.Messaging.Rebus" version="3.1.0" targetFramework="net472" />
  <package id="Sitecore.Framework.TransientFaultHandling.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Sitecore.XConnect" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Diagnostics" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Search" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Service.Plugins" version="2.0.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net472" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net472" />
</packages>